.active {
  color: green !important;
  font-weight: bold;
  border-bottom: 3px solid black;

}

.tutors{
  text-align: end;
  font-size: 15px;
}

.authors{
    color: black;
    border-style: outset ;
    border-radius: 10px;
    background-color: green;
}